* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #060AB2;
}

.title {
    width: 100vw;
    display: flex;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

 .memory-card:active {
   transform: scale(0.97);
   transition: transform .2s;
 }

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 90%;
  height: 90%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.footer {
    width: 640px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    perspective: 1000px;
    color: #f0ab3c;
    padding: 10px;
    color: yellow;
}

.frame {
    width: 640px;
    height: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}


.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 80px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}

